# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build files
client/build
client/node_modules

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Tests
coverage
.nyc_output
tests

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Misc
.DS_Store
.npm
.eslintcache
.yarn-integrity
